#comments {
  background-color: #F00;
  margin: 0 auto;
  max-width: 968px;
  padding: 1em;
  font-size:0.85em;
}

#comments .loading {
  text-align: center;
}

#comments .title {
  background-color: #ff7300;
  margin-top: 0;
}

.comment {
  background-color: #f58b00;
  margin-bottom: 1em;
}

.comment.level1{margin-left:1em}
.comment.level2{margin-left:2em}
.comment.level3{margin-left:3em}
.comment.level4{margin-left:4em}
.comment.level5{margin-left:5em}
.comment.level6{margin-left:6em}

.comment .user {
  background-color: #f7c500;
}

.comment .date {
  background-color: #f3f700;
}

.comment .reply {
  background-color: #a8f700;
}

.comment .reply a {
  text-decoration: none;
}

.comment .message {
  background-color: #35f700;
}

a.addcomment {
  background-color: #f7ad00;
  text-decoration: none;
}
